
table {
   border-collapse: collapse;
   background-color:  white;
   width: 50%;
}

table, td, tr {
   border: 2px solid black
}
 
img.a {
   float: letf;
   width: 270px;
}

h1{
   color:#FF05DA
}

H2,h3,h4{
   color:#EBFFD6
}
	
header {
   background-color: black;
   padding: 3px;
   color: white;
   text-align: center;
}

article {
   background-color:#60C6BC;
}
	
footer {
    padding:3px;
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
}	
  
